# Functions
- pre define functions
- user define functions
- recursive functions
- lambda function

### Arguments
- required arguments
- default arguments
- positional argumanets
- key word arguments
- optional arguments

### return types
- no return 
- return

- argument as list 
- argument as dictionary
- recursive functions
- generator functions

<img src= 'function_flow.png'>

In [2]:
print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

print('Pakistan zindabad')
print('we are pakistani')
print('we love our country')

Pakistan zindabad
we are pakistani
we love our country
Pakistan zindabad
we are pakistani
we love our country
Pakistan zindabad
we are pakistani
we love our country

In [3]:
def my_country():
    print('Pakistan zindabad.')
    print('we are pakistani.')
    print('we love our country..!!!')

In [4]:
my_country()

Pakistan zindabad.
we are pakistani.
we love our country..!!!

#### pre define funtionns

In [8]:
print('print is a pre define function')
input('input is a pre-define function: ')
print(type(11))
print(len('Qasim Hassan'))
print(id('return address'))

print is a pre define function
input is a pre-define function: input
<class 'int'>
12
1220858176688

#### user define functions

In [9]:
def about_country(): # function deceleration
    #body started here
    print('Pakistan zindabad.') # statments
    print('we are pakistani.')
    print('we love our country..!!!')
    # body ended here

about_country()

Pakistan zindabad.
we are pakistani.
we love our country..!!!

In [10]:
about_country()

Pakistan zindabad.
we are pakistani.
we love our country..!!!

#### required arguments functions

In [11]:
len()

TypeError: len() takes exactly one argument (0 given)

In [20]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

id_card(0,'Qasim', 'Hassan', 'data Science', '09 to 11 pm')
id_card(1, 'Muneeb', 'Hassan', 'Graphic desgining', '07 to 09 pm')

    --->SAYLANI<---
    student id : 0
    student name : Qasim
    student father name : Hassan
    course : data Science
    time : 09 to 11 pm

    --->SAYLANI<---
    student id : 1
    student name : Muneeb
    student father name : Hassan
    course : Graphic desgining
    time : 07 to 09 pm

In [ ]:
id_card() # SHIFT+TAB to check number of argumenst

In [23]:
id_card(1,'Qasim', 'Hassan')

TypeError: id_card() missing 2 required positional arguments: 'course' and 'time'

In [24]:
id_card(1,'Qasim', 'Hassan', 'AI', '09 to 11pm', 'BCE')

TypeError: id_card() takes 5 positional arguments but 6 were given

In [28]:
def add(x,y,z):
    print(x,y,z,)
    print(f'sum is: {x+y+z}')  
    
add(2,3,4)

2 3 4
sum is: 9

In [29]:
add(2,4)

TypeError: add() missing 1 required positional argument: 'z'

#### default or optional arguments

In [30]:
def add(x,y=2,z=1):
    print(x,y,z,)
    print(f'sum is: {x+y+z}')

In [31]:
add(1)

1 2 1
sum is: 4

In [32]:
add (1,3,5)

1 3 5
sum is: 9

In [34]:
add()

TypeError: add() missing 1 required positional argument: 'x'

In [35]:
def add(x=0,y=2,z=1):
    print(x,y,z,)
    print(f'sum is: {x+y+z}')

In [36]:
add()

0 2 1
sum is: 3

##### mutable default parameter values

In [57]:
def f(my_list=[]):
    my_list.append('###')
    return my_list

In [61]:
f(['Qasim', 'Hassan'])

['Qasim', 'Hassan', '###']

In [65]:
f() # if list is empty it will add ### number of time you'll run the code

['###', '###', '###', '###']

In [66]:
def fun(my_list=[]):
    print(id(my_list))
    my_list.append('###')
    return my_list

In [68]:
fun()

2821413473408

['###']

In [70]:
fun()

2821413473408

['###', '###']

In [75]:
def f(my_list=None):
    if my_list is None:
        my_list= []
        my_list.append('###')
    return my_list

In [76]:
f()

['###']

In [77]:
f()

['###']

In [82]:
def f(my_list=None):
    if my_list is None:
        my_list = []
        my_list.append('###')
    else:
        my_list.append('***')
    return my_list

In [83]:
f(['Qasim', 'Hassan'])

['Qasim', 'Hassan', '***']

#### posional arguments

In [37]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

id_card(0,'Qasim', '09 to 11 pm', 'data Science', 'Hassan')
id_card(1, 'Graphic desgining', 'Hassan', 'Muneeb', '07 to 09 pm')

    --->SAYLANI<---
    student id : 0
    student name : Qasim
    student father name : 09 to 11 pm
    course : data Science
    time : Hassan

    --->SAYLANI<---
    student id : 1
    student name : Graphic desgining
    student father name : Hassan
    course : Muneeb
    time : 07 to 09 pm

#### key-word arguments

In [38]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

In [39]:
id_card(course='DS', sid= 1, time='09 to 11pm' , name='Qasim', fname='hassan')

    --->SAYLANI<---
    student id : 1
    student name : Qasim
    student father name : hassan
    course : DS
    time : 09 to 11pm

#### non-return functions

In [40]:
a = print('Qasim Hassan')
print(a)

Qasim Hassan
None

In [41]:
print(print(print('Qasim')))

Qasim
None
None

In [42]:
data = id_card(course='DS', sid= 1, time='09 to 11pm' , name='Qasim', fname='hassan')

print(data)

    --->SAYLANI<---
    student id : 1
    student name : Qasim
    student father name : hassan
    course : DS
    time : 09 to 11pm
None

#### return functions

In [43]:
def add(x, y, z):
    return x+y+z

In [44]:
add(2,3,4) # return function

9

In [48]:
def add(x, y, z):
    return x+y+z #always retun first
    return x*y*z
    return x/2*2

In [47]:
add(2,3,4)

9

In [50]:
def add(x, y, z):
    return x+y+z, x*y*z, x/2*2

In [51]:
add(3,5,7)

(15, 105, 3.0)

#### pass argument with list

In [1]:
l1 = [0,'Qasim', 'Hassan', '565', 'DS']
print(l1)

[0, 'Qasim', 'Hassan', '565', 'DS']

In [2]:
l1 = [0,'Qasim', 'Hassan', '565', 'DS']
print(l1[0], l1[1], l1[2], l1[3], l1[4])

0 Qasim Hassan 565 DS

In [3]:
l1 = [0,'Qasim', 'Hassan', '565', 'DS']
print(*l1)

0 Qasim Hassan 565 DS

In [5]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

l1 = [0,'Qasim', 'Hassan', 'DS', '09 to 11pm']
id_card(*l1)

    --->SAYLANI<---
    student id : 0
    student name : Qasim
    student father name : Hassan
    course : DS
    time : 09 to 11pm

In [11]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

l1 = [0,'Qasim', 'Hassan', 'DS', '09 to 11pm']
id_card(*l1) #starik out all the values onne by one we call the lsit in function.
#===========================================================================
def add(name,fname,*z):
    print(name)
    print(fname)
    print(sum(z))
add('Qasim', 'Hassan', 2,3,4,5,6,7)

    --->SAYLANI<---
    student id : 0
    student name : Qasim
    student father name : Hassan
    course : DS
    time : 09 to 11pm
Qasim
Hassan
27

#### pass argument with dictionary

In [3]:
def id_card(sid, name, fname, course, time):
    print(
        """
    --->SAYLANI<---
    student id : {}
    student name : {}
    student father name : {}
    course : {}
    time : {}""".format(sid, name,fname, course,time)
    )

l1 = {"sid":0,
      "name": 'Qasim',
      "fname":'Hassan',
      "course":'DS',
      "time":'09 to 11pm'}

id_card(**l1)

    --->SAYLANI<---
    student id : 0
    student name : Qasim
    student father name : Hassan
    course : DS
    time : 09 to 11pm

#### unlimited arguments

In [4]:
def my_func(name, *number):
    print(name)
    print(number)
    print(sum(number))

my_func('Qasim', 2,3,4,5,6)

Qasim
(2, 3, 4, 5, 6)
20

In [6]:
def my_func(*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(2,3,4,5,6, name = 'Qasim')

Qasim
(2, 3, 4, 5, 6)
20

In [7]:
def my_func(*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(2,3,4,5,6, 'Qasim')

TypeError: my_func() missing 1 required keyword-only argument: 'name'

In [9]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(sid=0, number= [2,3,4,5,6], name= 'Qasim')

TypeError: my_func() got an unexpected keyword argument 'number'

In [10]:
def my_func(sid,*number, name):
    print(name)
    print(number)
    print(sum(number))

my_func(sid=0, number= (2,3,4,5,6), name= 'Qasim')

TypeError: my_func() got an unexpected keyword argument 'number'

In [11]:
def my_func(*number,sid,name):
    print(name)
    print(number)
    print(sum(number))

my_func(number= (2,3,4,5,6),sid=0, name= 'Qasim')

TypeError: my_func() got an unexpected keyword argument 'number'

### use of **kwargs

In [14]:
def my_func(name, **kwargs):
    print(name)
    print(kwargs)

my_func('qasim', num1 = 1, num2= 2, num3 = 3, num4 = 4)

qasim
{'num1': 1, 'num2': 2, 'num3': 3, 'num4': 4}

In [15]:
def my_func(name, **kwargs):
    print(name)
    print(kwargs)

my_func(name = 'qasim', num1 = 1, num2= 2, num3 = 3, num4 = 4)

qasim
{'num1': 1, 'num2': 2, 'num3': 3, 'num4': 4}

### Recursive functions

<img src="recursive.png" alt="Girl in a jacket" width="500" height="600">

In [20]:
def factorical(n):
    if n == 1:
        print(n)
        return 1
    print(n)
    return n * factorical(n-1)

factorical(6)

6
5
4
3
2
1

720

In [23]:
def add(n):
    if n == 1:
        return 1
    return n + add(n-1)
add(10)

55

#### generator function

Following properties that generator function posses:<br>
  - didn't generate all values at once
  - secondly remeber its last value

In [25]:
range(1,20000) # it didn't consume all the memory it shows values are from 1 to 20000

range(1, 20000)

In [26]:
def my_range(n):
    for i in range(1, n+1):
        print(i)
        
my_range(6)

1
2
3
4
5
6

In [33]:
def my_range(n):
    for i in range(1,n+1):
        yield i
        
a = my_range(10)

print(next(a))
print(next(a))
print(next(a))

1
2
3

In [34]:
list(a)

[4, 5, 6, 7, 8, 9, 10]

### lambda function

Following are the properties of lambda function:
- a one line function
- a without name function
- not used before that
- not used after that

In [41]:
def identity(x):
    return x

- The keyword: lambda
- A bound variable: x
- A body: x

In [42]:
(lambda x : x) (2)

2

In [36]:
def add(x,y): return x+y

In [37]:
add(2,3)

5

In [47]:
(lambda x,y,z : x+y+z)(2,3,4)

9

In [38]:
a = lambda x,y,z : x+y+z

In [39]:
a(2,3,4)

9

In [40]:
a(2,3)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [51]:
full_name = lambda fname, lname : f'complete name is: {fname}{lname}'

In [52]:
full_name('Qasim', 'Hassan')

'complete name is: QasimHassan'

#### Notes

**Pre-define**-->those functions which are made already.

**User-defined**-->those functionwhich we made for some environment. User defined not means we're making from scretech we can re create 

**Default-fucntion**-->some function didn't took functions are called default Functions. 

**lamba-Function**---> ak line ka function, bna name ka function, jo na is se pehly use howa na isky bad use hoga to lammba hoga.

**Recursive-Fuction**--->Repeatation of function itself is knnows is Recursive Function. khud apny ap ko call karta ha or usy kisi jaga py roky hain 

**Required argument**---> those function which require argumenr & are necessary are called required argument eg:Hubby/Wife marriage

**Optional argument**---> those argument which are not required are called optionnal reuirement eg: relative,walima, hall. 

**return**---> store in variabble & answer can be inpute for another Function. 

**Non return** ---> Which Perform its funtion without return any value. 

**default-argument**---> sef by programmer

**positional-argument** ---> which we def postion 

**keyword-Arrgument**--->with the help of key value we can give any function value. 

**argument with list** ---> *unzip one value one by one in Funtion 

**argument with Dictionary**---> (double starik)*\*unzip the value one by Every Function have: Fuction Deleration Function Body Function Calling

**parameter vs Argument**--> A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that are sent to the function when it is called.

<img src = 'formal_actual_parameter.png'>

### function docstring

In [84]:
def avg(*args):
    """Returns the average of a list of numeric values."""
    return sum(args) / len(args)

In [86]:
avg.__doc__

'Returns the average of a list of numeric values.'

In [87]:
help(avg)

Help on function avg in module __main__:

avg(*args)
    Returns the average of a list of numeric values.

### Function Annotations
 Annotations provide a way to attach metadata to a functionâ€™s parameters and return value.

In [88]:
def f(a: '<a>', b: '<b>') -> '<ret_value>':
        pass

In [89]:
f.__annotations__

{'a': '<a>', 'b': '<b>', 'return': '<ret_value>'}

In [90]:
f.__annotations__['a']

'<a>'

In [91]:
def area(
    r: {
           'desc': 'radius of circle',
            'type': float
        }) -> \
       {
            'desc': 'area of circle',
            'type': float
        }:
    return 3.14159 * (r ** 2)

In [92]:
area(2.5)

19.6349375

In [93]:
area.__annotations__

{'r': {'desc': 'radius of circle', 'type': float},
 'return': {'desc': 'area of circle', 'type': float}}

In [94]:
area.__annotations__['r']['desc']

'radius of circle'

In [95]:
def f(a: int = 12, b: str = 'baz') -> float:
    print(a, b)
    return(3.5)

In [96]:
f.__annotations__

{'a': int, 'b': str, 'return': float}

In [97]:
f()

12 baz

3.5

In [98]:
def f(a, b):
     return

In [99]:
f.__annotations__ = {'a': int, 'b': str, 'return': float}

In [100]:
f.__annotations__

{'a': int, 'b': str, 'return': float}